<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CCTV</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}"
    />
  </head>
  <body>
    <!-- 상단바 -->
    <header>
      <div class="logo"><a href="/">CCTV</a></div>
      <div class="header-container">
        <div class="header-actions">
          <div class="header_buttons">
            {% if session.get('logged_in') %}
            <form
              action="{{ url_for('main.logout') }}"
              method="get"
              style="display: inline"
            >
              <button type="submit" class="logout-button">로그아웃</button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </header>

    <!-- 사이드바 -->
    <nav>
      {% if session.get('logged_in') %}
      <ul>
        <li><a href="/warning">밀집도 경고 기록</a></li>
        <li><a href="/abnormal-behavior">이상 행동 감지</a></li>
        {% if session.get('user_role') == 'admin' %}
        <li><a href="/cctv-list">CCTV설정</a></li>
        <li><a href="/user-management">보안/로그인</a></li>
        <li><a href="/settings">밀집도 세팅</a></li>
        {% endif %}
      </ul>
      {% endif %}
    </nav>

    <!-- 본문 영역 -->
    <main class="main-content">{% block content %} {% endblock %}</main>
  </body>
</html>
