{% extends "base.html" %} {% block content %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/cctv_style.css') }}"
/>
<div>
  <h1>단계 {{ setting.level }} 수정</h1>
  <form
    method="POST"
    action="{{ url_for('main.update_setting', setting_id=setting.id) }}"
  >
    <table>
      <tr>
        <td>단계:</td>
        <td>
          <input
            type="number"
            name="level"
            value="{{ setting.level }}"
            readonly
          />
        </td>
      </tr>
      <tr>
        <td>최대 밀집도:</td>
        <td>
          <input
            type="text"
            name="max_density"
            value="{{ setting.max_density }}"
            required
          />
        </td>
      </tr>
      <tr>
        <td>설명:</td>
        <td>
          <input
            type="text"
            name="description"
            value="{{ setting.description }}"
          />
        </td>
      </tr>
      <tr>
        <td colspan="2" style="text-align: center">
          <button type="submit">저장</button>
        </td>
      </tr>
    </table>
  </form>
</div>
{% endblock %}
